body {
	font-family: 'Times New Roman', Times, serif;
	background-color: #154360;
}
.a-all img {
	width: 84px;
	height: 84px;	
}

.a-all {
	background-color: steelblue;
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.a-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	font-size: larger;
}

.main-text {
	background-color: steelblue;
	justify-items: left;
	margin-left: 200px;
	margin-right: 200px;
	align-items: center;
	display: flex;
	margin-top: 20px;
}

p {
	font-size: x-large;
	margin: 40px;
}

h1 {
	color: black; 
}